{% extends 'expenshare/base.html' %}

{% load static %}

{% block container %}
  Name:
    {{ active_sharelist.name }}
  <br>
  Participants:
  {% for p in active_sharelist_users %}
    {{ p.user.username }}
  {% endfor %}

  <table>
    <caption>Debts</caption>
    <thead>
        <tr>
            {% for c in credits_table.columns %}
              <td>{{ c }}</td>
            {% endfor %}
        </tr>
    </thead>
    {% for row in credits_table.rows %}
      <tr>
      {% for value in row %}
        <td>{{ value }}</td>
      {% endfor %}
      </tr>
    {% endfor %}
  </table>

  <a href="{% url 'credits-create' sharelist_id %}">New credit</a>
{% endblock %}