{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="row align-items-center my-1">
  <div class="col-7 col-md-9 col-xl-10">
    <h2>{{ active_sharelist.name }}</h2>
  </div>
  <div class="col-5 col-md-3 col-xl-2">
      <a class="btn btn-primary btn-block" href="{% url 'sharelists:credits-create' sharelist_id %}">New credit</a>
  </div>
</div>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link {% if nbar == 'main' %}active{% endif %}" href="{% url 'sharelists:view' sharelist_id %}">Credits</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if nbar == 'summary' %}active{% endif %}" href="{% url 'sharelists:summary' sharelist_id %}">Summary</a>
  </li>
</ul>
{% block sharelists_content %}{% endblock %}
{% endblock %}
