name: Expenshare CI

on:
  push:
    branches: [ master, dev ]
  pull_request:
    branches: [ master, dev ]

env:
  python-version: 3.8
  SECRET_KEY: is_not_always_a_secret
  DB_NAME: github_actions
  DB_USER: postgres
  DB_PASSWORD: postgres

jobs:
  build:
    runs-on: ubuntu-latest
  
    services:
      postgres:
        image: postgres:10.8
        env:
          POSTGRES_USER: ${ DB_USER }
          POSTGRES_PASSWORD: ${ DB_PASSWORD }
          POSTGRES_DB: ${ DB_NAME }
        ports:
          - 5432:5432
        # needed because the postgres container does not provide a healthcheck
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
      redis:
        # Docker Hub image
        image: redis
        # Set health checks to wait until redis has started
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v1
    - name: psycopg2 prerequisites
      run: sudo apt-get install python-dev libpq-dev
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Run migrations
      run: python manage.py migrate
    - name: Run Tests
      run: |
        pytest -x --cov=./expenshare --cov-report=xml
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        file: ./coverage.xml
        flags: unittests
        name: codecov-umbrella
        fail_ci_if_error: true
